fastapi==0.121.3
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.4
pydantic-settings
email-validator==2.3.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0
python-multipart
bcrypt==5.0.0
typing-extensions==4.15.0
argon2-cffi==23.1.0